@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.custome-font {
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}

/* shares  */
.share_color {
    color: #FF0000;
}

.center_auto {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
}

.all-p {
    font-size: 20px;
    font-weight: 500;
}

/* shared end */

.banner-img {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, #070211, #07021100), url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.banner-content {
    color: white;
    max-width: 632px;
    padding: 177px 344px;
}

.banner-content h3 {
    font-size: 32px;
    color: #FFFFFF;
    opacity: 0.8;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: bold;
}

.off_container {

    text-align: center;
    margin-top: 120px;
    max-width: 800px;
    margin: auto;
}

.off_content h1 {
    font-size: 88px;
    font-weight: 700;

}

.off_content p {
    font-size: 24px;
    font-weight: 600;
}

.off_content h3 {
    font-size: 48px;
    font-weight: bold;
}

/* welcome */
.welcome_img_container {
    background-image: linear-gradient(to right, #070211, #07021100), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1320px;
    height: 600px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text-content h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 600;
}

.img {
    max-width: 319px;
}

.welcome-text-content p {
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.7;
}

.welocome-button {
    color: whitesmoke;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

/* pink section  */
.bg-color {

    background-image: linear-gradient(to bottom, #ff000023, #ff000000);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.pink-content {
    padding: 150px 385px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.pink-btn {

    background-color: red;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    text-align: center;
}

/* circle section */
.circle_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.cicle-text-content {
    width: 393px;
}

.circle-p_one {
    font-size: 24px;
    font-weight: 600;
}

.circle-p_two {
    font-size: 20px;
}

.circle_img {
    padding: 49px;
    width: 463px;
    border: 10px solid red;
    border-radius: 50%;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
}

.cicle-text-content h3 {
    font-size: 48px;
    font-weight: 600;
}

.cicle-text-content-two {
    width: 291px;
}

.cicle-text-content-two h3 {
    font-size: 48px;
    font-weight: bold;
}

.cicle-text-content-two p {
    font-size: 20px;
}

/* discount section*/

.discount-container {
    height: 987px;
    margin-top: 122px;
}

.discount-content {
    text-align: center;
    width: 1068px;
    margin: 0 auto;
}

.discount-content h3 {
    font-size: 24px;
    font-weight: 500;
}

.discount-content h1 {
    font-size: 65px;
    padding-top: 18px;

}

.discount-content p {
    font-size: 20px;
    /* padding-bottom: 64px; */
}

.discount-img-contianer {
    background-image: url(../images/Group\ 75.png), url(../images/Rectangle\ 2.png), url(../images/Group\ 44.png);
    height: 662px;
    background-repeat: no-repeat;
    background-position: bottom left, bottom center, top right;
}

/* portfolio  section*/
.portfolio-container {
    margin-top: 122px;
    height: 1163px;
}

.portfolio-content h3 {
    font-size: 24px;
    font-weight: 500;
}

.portfolio-content h2 {
    font-size: 48px;
    font-weight: bold;
}

.portfolio_img {
    display: flex;
    margin-top: 40px;
}

/* newsletter section*/
.news-container {
    margin-top: 122px;
    
}

.news-content {
    background-color: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 616px;
    padding: 80px 212px;
}

.news-text {
    text-align: center;
}
.form{
    width: 648px;
    margin: auto;
}
.form-input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    border: none;
}

.form-btn {
    border: none;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: red;
    color: whitesmoke;
}
/* footer section  */
